<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thank you for the download!</title>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
<div class="kctg-container">
    <p> Thank you for downloading. Please check the 'Compendium
        Packs' tab to find the items, organized by folder/pack.</p>
    <p>If you are looking for additional systems for the KCTG module, please see below:</p>

    <table>
        <tr>
            <th> System</th>
            <th> Details</th>
        </tr>
        <tr>
            <td><a href="https://foundryvtt.com/packages/kctg-2e" target="_blank">Module 1</a></td>
            <td>Module 1 PF2e compatible module.</td>
        </tr>
        <tr>
            <td><a href="https://foundryvtt.com/packages/kctg-5e" target="_blank">Module 2</a></td>
            <td>Module 2 DnD 5e compatible module.
            </td>
        </tr>
        <tr>
            <td><a
                    href="https://foundryvtt.com/packages/kctg-a5e" target="_blank">Advanced 5e</a></td>
            <td>With the help of the community, support has also been extended.</td>
        </tr>
    </table>

    <p>Additionally, if you need the items in a PNG format with print-friendly colors, you can find them on
        <a href="https://patreon.com/KCTG" target="_blank">Patreon</a> and for any form of feedback you can reach me on
        <a href="https://discord.gg/DEpaQfM544" target="_blank">Discord</a>.
    </p>

    <footer>
        <button type="button" class="clear">
            I understand and never show again
        </button>
        <button type="button" class="just-close">
            I understand
        </button>
    </footer>
</div>
</body>
</html>