<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thank you for the download!</title>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
<div class="kctg-container">
    <img src="modules/kctg-1e/banner/logo.webp" alt="KCTG Logo" class="kctg-logo">

        <p class="kctg-small"> For print-friendlyer PDF/PNG versions of the items, head over to <a href="https://patreon.com/KCTG" target="_blank"><b>Patreon</b></a>. 
            <p class="kctg-small"> Supporting there gets you instant access to the PDF and helps keep more content coming.</p>
         <br>
        <p class="kctg-small">For any feedback you can reach me on the <a href="https://discord.gg/DEpaQfM544" target="_blank"><b>KCTG Discord</b></a>.
        <p class="kctg-small">Modules:</p>
    <table>
        <tr>
            <th>System</th>
            <th>Details</th>
        </tr>
        <tr>
            <td><a href="https://foundryvtt.com/packages/kctg-2e" target="_blank"><b>Pathfinder 2e - Trade Goods</b></a></td>
            <td>Pathfinder 2e compatible module.</td>
        </tr>
        <tr>
            <td><a href="https://foundryvtt.com/packages/kctg-5e" target="_blank"><b>Dungeons & Dragons 5e - Trade Goods</b></a></td>
            <td>Dungeons & Dragons 5e compatible module.</td>
        </tr></table>
             <p class="kctg-small">Other modules:</p>
        <table>
                <tr>
            <td><a href="https://foundryvtt.com/packages/kctg-token-rings" target="_blank"><b>KCTG Dynamic Token Rings</b></a></td>
            <td>10+ Dynamic Token Character Rings</td>
        </tr>
    </table>

    <p class="kctg-small">Current community supported modules:</p>
    <table>
        <tr>
            <th>System</th>
            <th>Details</th>
            <th>Creator</th>
        </tr>
        <tr>
            <td><a href="https://foundryvtt.com/packages/kctg-1e" target="_blank"><b>Pathfinder 1e - Trade Goods</b></a></td>
            <td>Pathfinder 1e compatible module.</td>
            <td><b>Phoenix Alexander, <a href="https://www.patreon.com/kctg" target="_blank">Kris</a></td></b>
        </tr>
        <tr>
            <td><a href="https://foundryvtt.com/packages/kctg-a5e" target="_blank"><b>Advanced 5e - Trade Goods</b></a></td>
            <td>Advanced 5e compatible module</td>
            <td><b><a href="https://www.patreon.com/SyriousWorkshop" target="_blank">Syrious</a></td></b>
        </tr>
    </table>
     <p class="kctg-small">Items are located in '<b>Compendium Packs</b>' tab to find the items, organized by folder.</p>  
    <footer>
        <button type="button" class="clear">I understand and never show again</button>
        <button type="button" class="just-close">I understand</button>
    </footer>
</div>
</body>
</html>
