<div>
        <div style="text-align:center;">
        <img src="modules/kctg-5e/banner/logo.webp" alt="Kris' Compendium of Trade Goods" style="display:inline-block;width:100%;max-width:250px;height:auto;border:none;margin-top:4px;">
    </div>
        <h2>Thank you for downloading Kris' Compendium of Trade Goods</h2>
    <p>Items are located in '<b>Compendium Packs</b>' tab to find the items, organized by folder.</p>

    <hr>
    <p><strong>Supporting the development</strong></p>
    <p>Since this is now technically my full-time job, I really appreciate your support. If you'd like to help out, head over to Patreon. Doing so will also provide access to a PDF file containing the items from the module.</p>
    <div><button type="button" data-kctg-handler="kctg-5e|openWindow|https://patreon.com/KCTG"><i class="fab fa-patreon"></i> Become a member</button></div>
    <hr>
    <p><strong>Be part of the KCTG community</strong></p>
    <p>For any feedback you can reach me on the KCTG Discord.</p>
    <div><button type="button" data-kctg-handler="kctg-5e|openWindow|https://discord.gg/DEpaQfM544"><i class="fab fa-discord"></i> Join Discord</button></div>
    

</div>
